@import url(./normalize.scss);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url(./bebas_neue_bold.scss);

$windows-width: 98.64vw;
@media (max-width: 1280px) {
  $windows-width: 95vw;
}

html {
  width: $windows-width;
}

body {
  margin: 0;
  padding: 0;
  max-width: $windows-width;
}

//Основной блок
.main-block {
  max-width: $windows-width;
}

//"Чердак"
.header {
  display: flex;
  justify-content: center;
  align-items: center;

  width: $windows-width;
  height: calc($windows-width/1.784);

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  //Задний фон
  .header-bg {
    width: $windows-width;
    height: 56.653812vw;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
  }

  //Логотип
  .header-logo {
    width: 8%;
    height: auto;
    position: absolute;
    top: 5%;
    left: 46.5%;
    z-index: 1;
  }

  //Текст с описанием
  .header-description {
    display: flex;
    flex-direction: column;

    width: 100%;
    justify-content: center;
    align-items: center;

    z-index: 2;

    //Заголовок в описании
    h1 {
      font-family: "Bebas Neue Bold", sans-serif;
      font-size: 60px;
      line-height: 70px;
      letter-spacing: 5.70937px;

      color: #ffffff;
    }

    //Доп описание
    span {
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      line-height: 19px;
      color: #ffffff;
    }
  }
}

// Навигация
.nav-bar {
  width: $windows-width;
  height: calc($windows-width/22.15);

  display: inline-flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #e6e6e6;

  .nav-bar-container {
    width: 70%;
    height: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-bar-logo {
    width: calc($windows-width/12.07);
    height: calc($windows-width/89.78);
  }

  .nav-bar-menu {
    nav {
      ul {
        font-family: "OpenSans", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        display: flex;
        align-items: flex-end;
        letter-spacing: 1.09091px;
        list-style: none;
        gap: 10%;

        color: #48555b;
      }

      li:hover {
        font-family: "OpenSans", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        display: flex;
        align-items: flex-end;
        text-align: center;
        letter-spacing: 1.09091px;

        color: #00a4e5;
      }
    }
  }
}

// Блок о "нас"
.about-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    margin-bottom: 5%;
  }
  &::after {
    content: "";
    margin-bottom: 5%;
  }

  .about-block-container {
    width: 70%;
    height: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
  }
  h1 {
    font-family: "OpenSans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 2.30625px;

    color: #48555b;
  }
}

.left-side {
  display: flex;
  flex-direction: column;
  text-align: left;

  width: 40%;

  span {
    font-family: "OpenSans", sans-serif;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color: #48555b;
    font-weight: bold;
    margin-bottom: 5%;
  }
  small {
    font-family: "OpenSans", sans-serif;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1875px;

    color: #48555b;
  }
}

.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: left;
  column-gap: 5%;
  width: 35%;

  .cart {
    position: relative;
    width: calc($windows-width/6.4);
    height: calc($windows-width/6.102);

    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.7));

    h1 {
      font-family: "OpenSans", sans-serif;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.1875px;

      color: #ffffff;

      top: 0px;
      left: 10px;
      position: absolute;
      z-index: 1;
      text-align: left;
    }
    img {
      z-index: 0;
    }
  }
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  -moz-column-gap: 5%;
  column-gap: 5%;
  width: 100%;

  .services-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    text-align: left;
    -moz-column-gap: 5%;
    column-gap: 5%;
    width: 65.5%;
    padding-left: 10%;
    padding-right: 5%;
  }
  &::after {
    content: "";
    margin-bottom: 15%;
  }

  h1 {
    font-family: "OpenSans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 2.30625px;

    color: #48555b;
  }

  span {
    font-family: "OpenSans", sans-serif;
    font-size: 18px;
    line-height: 21px;
  }
  small {
    font-family: "OpenSans", sans-serif;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1875px;

    color: #48555b;
  }
  button {
    background: #00a4e5;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: rgba($color: #000000, $alpha: 0);
    border-radius: 3px;

    font-family: "OpenSans", sans-serif;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;

    color: #ffffff;
  }
}

#line {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 110%;
    width: 50px;
    height: 2px;
    background-color: #00a4e5;
    border: 2px solid #00a4e5;
  }
}

#blue {
  color: #16ace8;
}

a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
  text-decoration: none;
  color: #666;
}
