@import url(./normalize.scss);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url(./bebas_neue_bold.scss);

$windows-width: 98.64vw;
@media (max-width: 1280px) {
  $windows-width: 95vw;
}

@mixin w-h($width: inherit, $height: inherit) {
  width: $width;
  height: $height;
}

@mixin align-x-y(
  $display: flex,
  $justify_content: inherit,
  $align_items: inherit,
  $flex_direction: inherit
) {
  display: $display;
  justify-content: $justify_content;
  align-items: $align_items;
  flex-direction: $flex_direction;
}

@mixin set-font(
  $font-family: unset,
  $font-size: unset,
  $line-height: unset,
  $letter-spacing: unset,
  $color: unset,
  $font-style: unset,
  $font-weight: unset
) {
  font-family: $font-family, sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  color: $color;
  font-style: $font-style;
  font-weight: $font-weight;
}

html {
  @include w-h($windows-width);
}

body {
  max-width: $windows-width;
  margin: 0;
  padding: 0;
}

//Основной блок
.main-block {
  max-width: $windows-width;
}

//"Чердак"
.header {
  @include w-h($windows-width, calc($windows-width/1.784));
  @include align-x-y(flex, center, center);

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  //Задний фон
  .header-bg {
    position: absolute;
    @include w-h($windows-width, 56.653812vw);

    margin-left: auto;
    margin-right: auto;
    z-index: 0;
  }

  //Логотип
  .header-logo {
    position: absolute;
    @include w-h(8%, auto);

    top: 5%;
    left: 46.5%;
    z-index: 1;
  }

  //Текст с описанием
  .header-description {
    @include w-h(100%);
    @include align-x-y(flex, center, center, column);

    z-index: 2;

    //Заголовок в описании
    h1 {
      @include set-font("Bebas Neue Bold", 60px, 70px, 5.70937px, #ffffff);
    }

    //Доп описание
    span {
      @include set-font("Open Sans", 16px, 19px, inherit, #ffffff);
    }
  }
}

// Навигация
.nav-bar {
  @include w-h($windows-width, calc($windows-width/22.15));
  @include align-x-y(inline-flex, center, center);

  border: 1px solid #e6e6e6;

  .nav-bar-container {
    @include w-h(70%, 100%);
    @include align-x-y(inline-flex, space-between, center);
  }

  .nav-bar-logo {
    @include w-h(calc($windows-width/12.07), calc($windows-width/89.78));
  }

  .nav-bar-menu {
    nav {
      ul {
        display: flex;
        flex-direction: row;
        @include set-font(
          "OpenSans",
          12px,
          16px,
          1.09091px,
          #48555b,
          normal,
          600
        );
        list-style: none;
        gap: 10%;
      }

      li:hover {
        @include set-font(
          "OpenSans",
          12px,
          16px,
          1.09091px,
          #00a4e5,
          normal,
          700
        );
        text-align: center;
      }
    }
  }
}

// Блок о "нас"
.about-block {
  @include w-h(100%, 70%);
  @include align-x-y(flex, center, center, column);

  &::before {
    content: "";
    margin-bottom: 5%;
  }
  &::after {
    content: "";
    margin-bottom: 5%;
  }

  .about-block-container {
    @include w-h(70%, 100%);
    @include align-x-y(inline-flex, space-between, inherit, row);
  }
  h1 {
    @include set-font("OpenSans", 18px, 21px, 2.30625px, #00a4e5);
  }
}

.left-side {
  display: flex;
  @include w-h(40%);
  flex-direction: column;
  text-align: left;

  span {
    margin-bottom: 5%;
    @include set-font("OpenSans", 20px, 23px, 0.1875px, #48555b, unset, bold);
  }
  small {
    @include set-font("OpenSans", 13px, 23px, 0.1875px, #48555b);
  }
}

.right-side {
  @include w-h(35%);
  @include align-x-y(flex, center, center, row);
  text-align: left;
  column-gap: 5%;

  .cart {
    position: relative;
    @include w-h(calc($windows-width/6.4), calc($windows-width/6.102));

    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.7));

    h1 {
      position: absolute;
      top: 0px;
      left: 10px;
      z-index: 1;
      @include set-font("OpenSans", 24px, 29px, 0.1875px, #fff);
      text-align: left;
    }
    img {
      z-index: 0;
    }
  }
}

.services {
  @include w-h(100%);
  @include align-x-y(flex, center, center, row);
  text-align: center;
  column-gap: 5%;

  .services-container {
    @include w-h(65.5%);
    @include align-x-y(flex, space-evenly, center, row);
    text-align: left;

    padding-left: 10%;
    padding-right: 5%;
    column-gap: 5%;
  }
  &::after {
    content: "";
    margin-bottom: 15%;
  }

  h1 {
    @include set-font("OpenSans", 18px, 21px, 2.30625px, #48555b);
  }

  span {
    @include set-font("OpenSans", 18px, 21px);
  }
  small {
    @include set-font("OpenSans", 13px, 23px, 0.1875px, #48555b);
  }
  button {
    background: #00a4e5;
    padding: 10px 25px 10px 25px;

    border: rgba($color: #000000, $alpha: 0);
    border-radius: 3px;
    @include set-font("OpenSans", 13px, 15px, 0.5px, #fff);
  }
}

#line {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    @include w-h(50px, 2px);

    left: 0;
    top: 110%;

    background-color: #00a4e5;
    border: 2px solid #00a4e5;
  }
}

#blue {
  color: #16ace8;
}

a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
  text-decoration: none;
  color: #666;
}
