@import url(./normalize.scss);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url(./bebas_neue_bold.scss);
html {
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
}

.main-block {
  max-width: 100vw;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  min-width: 100vw;
  min-height: 56.0538116592vw;
}
.header .header-bg {
  min-width: 100vw;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
}
.header .header-logo {
  width: 8%;
  height: auto;
  position: absolute;
  top: 5%;
  left: 46.5%;
  z-index: 1;
}
.header .header-description {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.header .header-description h1 {
  font-family: "Bebas Neue Bold", sans-serif;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: 5.70937px;
  color: #ffffff;
}
.header .header-description small {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.nav-bar {
  width: 100vw;
  height: 4.5146726862vw;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.nav-bar .nav-bar-container {
  width: 70%;
  height: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .nav-bar-logo {
  width: 8.2850041425vw;
  height: 1.113833816vw;
}
.nav-bar .nav-bar-menu nav {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 1.09091px;
  list-style: none;
  gap: 10%;
  color: #48555b;
}
.nav-bar .nav-bar-menu nav li:hover {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 1.09091px;
  color: #00a4e5;
}

.about-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-block .about-block-container {
  width: 70%;
  height: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}
.about-block h1 {
  font-family: "OpenSans";
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 2.30625px;
  color: #48555b;
}
.about-block .left-side {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 40%;
}
.about-block .left-side span {
  font-family: "OpenSans", sans-serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.1875px;
  color: #48555b;
  font-weight: bold;
  margin-bottom: 5%;
}
.about-block .left-side small {
  font-family: "OpenSans", sans-serif;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1875px;
  color: #48555b;
}
.about-block .right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: left;
  -moz-column-gap: 5%;
       column-gap: 5%;
  width: 35%;
}
.about-block .right-side .cart {
  position: relative;
  width: 15.625vw;
  height: 20.8333333333vw;
}
.about-block .right-side .cart h1 {
  font-family: "OpenSans";
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1875px;
  color: #ffffff;
  top: 0px;
  left: 10px;
  position: absolute;
  z-index: 1;
}
.about-block .right-side .cart img {
  z-index: 0;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: left;
  -moz-column-gap: 5%;
       column-gap: 5%;
  width: 35%;
}
.services span {
  font-family: "OpenSans", sans-serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.1875px;
  color: #48555b;
  font-weight: bold;
  margin-bottom: 5%;
}
.services small {
  font-family: "OpenSans", sans-serif;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1875px;
  color: #48555b;
}
.services button {
  background: #00a4e5;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}/*# sourceMappingURL=style.css.map */